
#head {
    height: 41px;
    width: 100%;
    left: 0px;
    top: 0px;
    position: fixed;
    float: left;
    z-index: 1;
}

#head > img {
    width: 16%;
}
#head > menu{
    width: 85%;
}
#left {
    background: darkgray;
    width: 15%;
    float: left;
}

#content {
    width: 85%;
    float: left;
}
.container-fluid{
    margin-top: 100px;
    width: 100%;
}

#footer {
    background: darkslateblue;
    height: 50px;
    width: 100%;
    clear: both;
}

.list-group-item {
    background: darkgray;
    color: black;
    height: 40px;
    font-family: "Times New Roman";
    font-size: 15px;
    font-weight: bold;
}

.list-group-flush {

}

p {
    color: black;
    font-family: "Times New Roman";
    font-size: medium ;
    font-weight: lighter;
}

#menu {
    position: relative;
    bottom: 0;
}




